<%- include('../partials/header') %>

    <div class="container">
      <h1><%= title %></h1>
      <nav class="navbar navbar-dark bg-dark">
        <a href="/export/<%= location %>" class="btn btn-success" >Export to Excel</a>
      </nav>
      <table class="table table-bordered" style="font-size:11px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Country</th>
            <th scope="col">First Day</th>
            <th scope="col">Second Day</th>
            <th scope="col">First Meeting</th>
            <th scope="col">Personal Meeting</th>
            <th scope="col">Contact Person</th>
            <th scope="col">Event Location</th>
            <th scope="col">Registered On</th>
          </tr>
        </thead>
        <tbody>
          
          <% item.forEach(function(attendee, index) { %>      
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><%= attendee.name %></td>
            <td><%= attendee.email %></td>
            <td><%= attendee.country %></td>
            <td><%= attendee.firstEvent %></td>
            <td><%= attendee.secondEvent %></td>
            <td><%= attendee.firstMeeting %></td>
            <td><%= attendee.personalMeeting %></td>
            <td><%= attendee.isContactPerson %></td>
            <td><%= attendee.eventCode %></td>            
            <td><%= attendee.updated %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

<%- include('../partials/footer') %>
